/*
* Add your own custom CSS declarations here
*/

/* General styles –––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  color:darkred;
}
a {
  color:darkred;
}
a:hover {
  color:red;
}

.panel {
  border:1px solid darkgray;
  width:100%;
  border-radius:5px;
  padding:1em;
  margin:2em;
}

.splash {
  border: 1px solid #9a9a9a;
  outline: 2em solid #f2f1ee;
  text-align:center;
  margin-bottom:3em;
}

.splash .section-description {
  padding:0.5em 2em 0.5em 2em;
  text-align:left;
}
.splash h3 a {
  text-decoration:none;
}
.splash h4 {
  padding-top:1em;
}

.box_1, .box_2 {
  border-top: 1px dashed #9a9a9a;
  padding:1em;
}

.success {
  background:lightgreen;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: darkred;
  border-color: red; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: darkred;
  border-color: red; }

/* Navigation –––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  left: 0;
  display: block;
  border-bottom: 1px solid darkgray;
  background: lightgray;
  background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
}

nav {
  padding-top:0.5em;
  font-weight:bold;
}
nav .title a {
  font-size:2em;
  text-decoration:none;
  color:darkred;
}
.tag {
  display:none;
}
@media (min-width: 550px) {
  .tag {
    display:block;
  }
}



nav ul {
  display:block;
  float: right;
}
nav ul, nav li {
  display:inline;
}
nav li a {
  font-size:1.25em;
  display: inline;
  text-decoration: none;
  color:darkred;
  border-right:1px solid darkred;
  padding:0rem 1rem 0rem 1rem;
}

/* Main content */
article {
  margin-top: 8.5rem; /* Add a top margin to avoid content overlay */
}

/* Navigation –––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  color:white;
  text-align:center;
  min-height: 5rem;
  border-top:1px solid darkgray;
  background: darkred;
  padding-top: 2em;
}
