<h2>Frequently Asked Questions</h2>
  <div class="section-description">
   <p><strong>I have a great text in mind. Can you modify the text for me and add it to your library?</strong> <br>
  We welcome others to participate. If you follow the <a href="http://genderedtextproject.com/instructions">instructions</a> and respect copyright, you can modify texts and share them with the project. Modifying a text is time consuming and we do not accept unsolicited texts for us to modify on your behalf.</P>

  <p><strong>Who are you?</strong> <br>
  <a href="http://genderedtextproject.com/Emily">Emily Parkhurst</a> is geek, gamer, genetic counselor, and an avid reader of all genres, including fanfic. <a href="https://writing.markfullmer.com/about">Mark Fullmer</a> is a poet, musician, communications teacher, and coding guru. <a href="http://www.maggieanton.com/index.html">Maggie Anton</a> is the author of several novels, including award winning historical fiction and non-fiction.</P>
   

<p><strong> Where did this idea come from?</strong> <br>
The idea was inspired by the <a href="http://www.writingexcuses.com/2016/05/29/11-22-examining-unconscious-biases-with-shannon-hale/">Writing Excuses podcast</a> with special guest <a href="http://www.shannonhale.com/biography.html">Shannon Hale</a>. The assignment was to gender-swap all the characters to see how it changed the story. </li></P>

<p><strong> How is this similar to gendering readings of a text? </strong><br> When we read for gender, we might look at:
<ul>
   <li>the way ideas of femininity and masculinity are normalised (or interrogated) in a text.</li>
<li>how our own expectations of how men and women should act lead us to react or respond in particular ways.</li>
<li>which characters are depicted as passive and which as active.</li>
<li>how femininity is often portrayed as a weakness, and masculinity as an asset.</li>
<li>the way that social structures reward or punish particular sexes for their physical features and abilities.</li>
<li>whether a particular sex might be omitted from a text.</li>
<li>how the portrayal of women or men have become features of genres.</li> From <a href="http://katiefieldingliterature.weebly.com/gendered-readings.html/">Katie Fielding</a></ul></p>