<h2>Guidelines</h2>
  <div class="section-description">
   <p><strong>Respect copyright</strong> <br>
  Use only written material which is either out of copyright, to which you hold the copyright, or to which you have obtained permission from the copyright holder to use for this project. </P>
   

<p><strong> Open source</strong> <br>
This project is available to all readers and writers, students and teachers, and anyone else who is interested in looking the role of gender in texts. You can see the open source code <a href="https://github.com/markfullmer/gendered_text">open source code</a> at github. </P>

