<div class="container splash">
  <h4>Keep the plot. Keep the prose.<br />Change the pronouns.</h4>
  <div class="section-description">
    <strong>Purpose</strong>
    <ul>
      <li>Dynamically rewrite the gender of personae in texts</li>
      <li>Challenge unconscious biases about gender and characters</li>
    </ul>
  </div>
  <div class="row fill">
    <div class="one-half column box_1">
      <h3><a href="/text_list">Read</a></h3>
      <p>Choose a text, then assign a gender to each character.
      Dowload as .epub available.</p>
      <a class="button" href="/text_list">View texts</a>
    </div>
    <div class="one-half column box_2">
      <h3><a href="/participate">Participate</a></h3>
      <p>Text require tagged gender identification. Submissions welcome.</p>
      <a class="button" href="/participate">See guidelines</a>
    </div>
  </div>
</div>