<h2>Participate</h2>

<p>Dynamically rewrite the gender of personae in texts.</p>

<p>Given a text with properly parameterized gender placeholders, this library will generate an alternate version of the text based on user preference of gender.</p> 
Take this passage from Alice in Wonderland:<br>

<blockquote>
<p>When the Rabbit came near her, Alice began, in a low, timid voice, "If you please, Sir—" The Rabbit started violently, dropped the white kid-gloves and the fan and scurried away into the darkness as hard as he could go.</p>

</blockquote>
would become:<br />
<blockquote>
<p>When the Rabbit came near him, Alan began, in a low, timid voice, "If you please, Ma'am—" The Rabbit started violently, dropped the white kid-gloves and the fan and scurried away into the darkness as hard as she could go.</p>

</blockquote>
<ol>
   <li>Use only written material which is either out of copyright, to which you hold the copyright, or to which you have obtained permission from the copyright holder to use for this project.</li>
   <li> Read the <a href="/instructions">instructions</a> on how to prepare a text with placeholders, assign each placeholder to a character, and add a parameter legend defining the characters. 
   <li> <a href="/prepare">Prepare</a> you own text and give it a <a href="/test">test</a> drive.  </li>
   <li>Share your prepared text with the project as a <a href="https://www.google.com/docs/about/">google doc</a> to have it added to our text list for other to read.</li>
</ol>
<p>This project is available to all readers and writers, students and teachers, and anyone else who is interested in looking the role of gender in texts. You can see the <a href="https://github.com/markfullmer/gendered_text">open-source code</a> at github. </P>

<p>Contact <a href="mailto:esparkhu@gmail.com">Emily Parkhurst</a> for more information.</p>